@import "tailwindcss";

/* @utility btn-settings {
    @apply w-full bg-gray-700 hover:bg-gray-600 text-white font-semibold px-4 py-2 text-center;
}

@utility btn-danger {
    @apply w-full bg-red-600 hover:bg-red-700 text-white font-semibold px-4 py-2;
}

@utility btn-upload {
    @apply btn-settings cursor-pointer;
}

@utility btn-tooltip {
    @apply block hover:bg-gray-500 w-full p-2;
} */

@theme {
    --color-primary: #4a5568;
    --color-secondary: #101828;
    --color-accent: #b83280;
    --color-bg: #101828;
    --color-text: #eeeeee;
    --color-hover: #718096;
}

/* Add theme variations */
@layer base {

    .theme-pink {
        --color-primary: #ec4899;
        --color-secondary: #f472b6;
        --color-accent: #ef46b9;
        --color-bg: #fdf2f8;
        --color-text: #111827;
        --color-hover: #972480;
    }

    .theme-orange {
        --color-primary: #f97316;
        --color-secondary: #fdba74;
        --color-accent: #f59e0b;
        --color-bg: #fff7ed;
        --color-text: #78350f;
        --color-hover: #bf5c1a;
    }

    .theme-sky {
        --color-primary: #0ea5e9;
        --color-secondary: #7dd3fc;
        --color-accent: #38bdf8;
        --color-bg: #f0f9ff;
        --color-text: #0c4a6e;
        --color-hover: #4884de;
    }
}

@utility btn-settings {
    @apply w-full bg-primary hover:bg-hover text-text font-semibold px-4 py-2 text-center;
}

@utility btn-danger {
    @apply w-full bg-red-600 hover:bg-red-700 text-white font-semibold px-4 py-2;
}

@utility btn-upload {
    @apply btn-settings cursor-pointer;
}

@utility btn-tooltip {
    @apply block hover:bg-secondary w-full p-2;
}